{{#if user}}
    <a href="/members/memList" class="fulcrum-link">
        <div><h4>HOME</h4></div>
    </a>
    
    <a href="/users/logout" class="logout">
        <div><h4>LOGOUT</h4></div>
    </a>
{{/if}}