<div class="main-wrapper">
    <div class="index">
        <div class="intro">
            <h2>FULCRUM</h2>
            <p>Build, store, search, and annotate a database of HM's</p>
            <p>An App by FTF</p>
        </div>

        <div class="intro2">
            <a href="/users/login" class="login-btn">LOGIN</a>
            <a href="/users/register" class="login-btn">REGISTER</a>
        </div>
    </div>
</div>
