<div id="particles-js"></div>

<div class="index">
    <div class="intro">
        <h2>FULCRUM</h2>
        <h3>A custom app for FTF Field Workers</h3>
        <p>Build, store, search, and annotate a database of HM's</p>
    </div>

    <div class="intro2">
        <a href="/users/login" class="login-btn">LOGIN</a>
        <a href="/users/register" class="login-btn">REGISTER</a>
    </div>
    
</div>

<script
    src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js">
</script>
<script>
    particlesJS.load('particles-js', '/particles.json', function(){
        console.log('particles.json loaded...');
    });
</script>