<div class="main-wrapper">
    <div class="intro">
        <h2>FULCRUM</h2>
    </div>

    <form action="/users/login" method="post" class="login-container">
        {{!-- <label class="input-name" for="email"><b>EMAIL</b></label> --}}
        <input class="input" type="email" name="email" placeholder="Email" required>

        {{!-- <label class="input-name" for="password"><b>PASSWORD</b></label> --}}
        <input class="input" type="password" name="password" placeholder="Password" required>

        <button class="login-btn" type="submit"><b>LOGIN</b></button>
    </form>

    <h5>An App by FTF</h5>
</div>